{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile Page {% endblock %}

{% block body %}
<h2> Your Profile </h2>
{% if user.user_profile %}

<img src="/media/{{user.user_profile.profile_picture}}" class="rounded-circle" width="120px" height="120px">
<br>
<br>
<a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
<br>

{% else %}

<img src="/media/defaultpp.jpeg" class="rounded-circle" width="120px" height="120px">
<br>
<a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
<br>

{% endif %}
<br>

<br>
<br>

<p>Username : {{user.username}}</p>
<p>Email : {{user.email}}</p>
<p>Name : {{user.first_name}} {{user.last_name}}</p>

<a href="{% url 'App_Login:user_change' %}" class="btn btn-warning btn-sm">Change Profile Info</a>

{% endblock %}
